.navbarContainer {
    margin-bottom: 14px;
    width: 100%;
    display: flex;
}

.navbarAppTitleContainer {
    flex: 1;
    display: flex;
}

.navbarAppTitleText {
    font-size: 24px;
    font-weight: bold;
}

.navbarSearchContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbarSearchInput {
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid grey;
    width: 200px;
}