[data-theme="light"] {
  --background: #ffffff;
  --background2: #ffffff;
  --primary: #000;
  --secondary: #b2b2b2;
}

[data-theme="dark"] {
  --background: #282c34;
  --background2: #2b3136;
  --primary: #ffffff;
  --secondary: #b2b2b2;
}

body {
  background-color: var(--background);
  color: var(--primary);
  font-family: sans-serif;
}

#root {
  max-width: 1280px;
  margin: 2rem auto;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #212529;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.modal-content {
  color: var(--primary);
  background: var(--background2);
}

.modal-content input,
.modal-content input:focus,
.modal-content textarea,
.modal-content textarea:focus {
  color: var(--primary);
  background: var(--background);
}

.modal-content input::placeholder,
.modal-content textarea::placeholder {
  color: var(--secondary);
  opacity: 1; /* Firefox */
}

.modal-content input::-ms-input-placeholder,
.modal-content textarea::-ms-input-placeholder { /* Edge 12 -18 */
  color: var(--secondary);
}

.toggle {
  display: flex;
  justify-content: center;
}


.container {
  margin-top: 1rem;
}

.container-comments {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.comment {
  width: 40rem;
  align-items: center;
  white-space: nowrap;
}

.comment textarea {
  width: 100%;
}

.item-list {
  align-items: center;
  white-space: nowrap;
}

.item-list .col {
  padding-top: 0.1rem;
  padding-bottom: 0.5rem;
}

.nav-item a,
.nav-item button {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.4em;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0.5em 0.7em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  border-color: transparent;
  color: #b2b2b2;
  transition: all 150ms ease-in-out;
}

a.nav-btn {
  margin-left: 0.3rem;
}

button.nav-btn {
  margin-left: 0.3rem;
}

a.nav-btn span,
button.nav-btn span {
  margin-left: 0.3rem;
}

.nav-item a:hover,
.nav-item button:hover,
.nav-item .button:hover {
  color: #fff;
  outline: 0;
  border: 1px solid transparent;
  background-color: #2b3136;
  box-shadow: 0 0 1px 0 #919191 inset, 0 0 1px 1px #919191;
}

.nav-item a:focus,
.nav-item button:focus {
  color: #fff;
  outline: 0;
}

.nav-item-menu > a,
.nav-item-menu button {
  text-align: left;
  padding: 0.7rem 1rem;
}

.nav-item-menu a {
  display: block;
  font-size: inherit;
  text-decoration: none;
}

.nav-item-menu a i,
.nav-item-menu a span,
.nav-item-menu button i,
.nav-item-menu button span {
  color: var(--primary);
}

.nav-item-menu a:visited,
.nav-item-menu button:visited {
  color: #2b3136;
  background-color: var(--primary);
}

.nav-item-menu button:focus {
  color: #fff;
  background-color: #b2b2b2;
}

.nav-item-menu a:hover,
.nav-item-menu button:hover {
  color: #fff;
  background-color: var(--secondary);
}

.nav-item-menu {
  position: relative;
}

.nav-item-menu button {
  display: block;
  color: inherit;
  font-size: inherit;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

.nav-item-menu button span {
  margin-left: 0.4rem;
}

.arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

ul.dropdown {
  background-color: var(--background2);
}

.dropdown {
  position: absolute;
  right: 0;
  left: auto;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 0.875rem;
  z-index: 9999;
  min-width: 10rem;
  padding: 0.5rem 0;
  list-style: none;
  background-color: var(--background);
  border-radius: 0.5rem;
  display: none;
}

.dropdown.show {
  display: block;
}

.dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -7px;
}

.rounded-circle {
  border-radius: 100% !important;
}